.menu-header-appetizer,
.menu-header-lunch,
.menu-header-dinner,
.menu-header-dessert {
  margin-top: 50px;
  margin-bottom: 10px;
  background: #c71e1e;
  width: 100%;
  height: 80px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.menu-header-appetizer h1,
.menu-header-lunch h1,
.menu-header-dinner h1,
.menu-header-dessert h1 {
  padding-top: 20px;
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  font-family: 'Original Surfer', cursive;
}
.menu img {
  width: 200px;
  height: 100px;
}
