<div id="restaurant">
            <div class="row">
                <div class="col-md-6">
                    
                        <div class="square square-big is-loaded" id="about-js">
                            <a href="#">
                            <img src="images/restaurant.jpeg"  alt="">
                            <i class="fa fa-pencil-square-o "></i>
                            <div class="square-header">
                                <p class="title">Welcome</p>
                                <p class="description"> To <strong>Name Restaurant</strong></p>
                            </div>
                            
                            <div class="square-post">
                                <p class="title">Name Restaurant</p>
                                <p class="description">Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit ametadipiscing elit. Integer sapien odio, consectetur ac porta vitae, fringilla at justo. Nulla id nisl turpis. Quisque rutrum, sem a auctor feugiat, justo purus euismod ligula, quis mollis diam ligula in justo... <strong>read more</strong></p>
                            </div>
                        </a>
                           
                        </div>
                    
                        <div class="row-self">
                        <div class="col-md-6">
                            
                            <div class="square is-loaded" id="reservation-js">
                                <a href="#">
                                <img src="images/reservation.jpg" alt="">
                                <i class="fa fa-calendar"></i>
                                <div class="square-header" id="reservation-js">
                                    
                                    <p class="title">Reserve</p>
                                    <p class="description">your <strong>table</strong></p>
                                
                                </div>
                                <div class="square-post" id="reservation-js">
                                     <a href="#">
                                    <p class="title">Go to <strong>Reservation <i class="fa fa-arrow-circle-o-right"></i></strong></p>
                                    </a>
                                </div>
                            </div>
                            </a>  
                            
                        </div>
                        <div class="col-md-6">
                            
                            <div class="square is-loaded" id="menu-js" >
                                <img src="images/menu.jpg" alt="">
                                <a href="#">
                                <i class="fa fa-cutlery"></i>
                                <div class="square-header" id="menu-js">
                                    
                                    <p class="title">Menu</p>
                                    <p class="description">It's <strong>delicious</strong></p>
                                    </a>
                                </div>
                                <div class="square-post" id="menu-js">
                                    <a href="#">
                                    <p class="title">Go to<br> <strong>Menu <i class="fa fa-arrow-circle-o-right"></i></strong></p>
                                </a>
                                </div>
                            </div>
                            
                        </div>
                </div>
                </div>
                <div class="col-md-6">
        
                        <div class="col-md-12" id="square-slider">
                            <div class="square-slider is-loaded">
                            <div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
                                <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>
<div class="dragg">
  <ul class="carousel-inner" id="slide">
    <li class="item square-item active" id="menu-js"><!-- class of active since it's the first item -->
        <a href="#">  
      <img src="images/slider/mozzarella_stick.jpg" alt="mozzarella-stick">
         
      <div class="square-header">
        
            <p class="title">Appetizer</p>
            <p class="description">Mozzarella Marinara</p>
       
        </div>
    </a>
    </li>
    <li class="item square-item" id="menu-js">
         <a href="#"> 
      <img src="images/slider/chicken-bryan.jpg" alt="chicken-bryan">     
        
        <div class="square-header">
            <a href="#">
            <p class="title">Lunch</p>
            <p class="description">Chicken Bryan</p>
        </a>
        </div>
    </a>
    </li>
    <li class="item square-item" id="menu-js">
        <a href="#">
      <img src="images/slider/la_fiorentina.jpg" alt="">     

    <div class="square-header">
        <a href="#">
        <p class="title">Dinner</p>
        <p class="description">Filet Fiorentina <strong>sunday</strong></p>
        </a>
    </div>
   </a>
    </li>
    <li class="item square-item" id="menu-js">
        <a href="#">
      <img src="images/slider/dolci.jpg" alt="Chocolate Dream">     

   <div class="square-header">
    <a href="#">
        <p class="title">Dessert</p>
        <p class="description">Chocolate Dream</p>
        </a>
    </div>
    </a>
    </li>
  </div><!-- /.carousel-inner -->
  <!--  Next and Previous controls below
        href values must reference the id for this carousel -->
    <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
    </ul>
</div><!-- /.carousel -->
 <div class="square-post">
                                        <p class="title">Go to <br><strong>menu <i class="fa fa-arrow-circle-o-right"></i></strong></p>
                                    </div>
                                
                            </div>
                        </div>
                    
                        <div class="col-md-6">
                            <div class="square is-loaded" id="schedule-js">
                                <img src="images/hours.jpg" alt=""> 
                                <a href="#">          
                                <i class="fa fa-clock-o"></i>
                                <div class="square-header">
                                    <p class="title">Schedule</p>
                                    <p class="description">Our<strong class="open">Hours</strong></p>             
                                </div>                  
                                <div class="square-post">
                                    <ul class="days">
                                        <li><span>Mo.</span> <strong>closed</strong></li>
                                        <li><span>Tu.</span> <strong>1:00pm - 11:00pm</strong></li>
                                        <li><span>We.</span> <strong>1:00pm - 11:00pm</strong></li>
                                        <li><span>Th.</span> <strong>1:00pm - 11:00pm</strong></li>
                                        <li><span>Fr.</span> <strong>2:00pm - 1:00am</strong></li>
                                        <li><span>Sa.</span> <strong>2:00pm - 1:00am</strong></li>
                                        <li><span>Su.</span> <strong>1:00pm - 11:00pm</strong></li>
                                    </ul>
                                </div>  
                                </a>                        
                            </div>
                        </div>
                        <div class="col-md-6">
                            
                                <div class="square is-loaded" id="direction-js">
                                    <a href="#">
                                    <img src="images/directions.jpg" alt="">    
                                    <i class="fa fa-home"></i>
                                    <div class="square-header">
                                        <p class="title">Directions</p>
                                        <p class="description">On your <strong>way?</strong></p>                
                                    </div> 
                                    </a>         
                                    <div class="square-post">
                                        <a href="#">
                                        <p class="title">Go to<br> <strong>Directions <i class="fa fa-arrow-circle-o-right"></i></strong></p>
                                    </a>
                                    </div>                          
                                </div>
                           
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <div class="square is-loaded" id="contact-js">
                                <a href="#">
                                <img src="images/contact.jpg" alt="">                
                                <i class="fa fa-keyboard-o "></i>
                                <div class="square-header">
                                    <p class="title">Contact Us </p>
                                    <p class="description">Feel free to <strong>contact us</strong></p>             
                                </div>
                                </a>
                                <div class="square-post">
                                    <a href="#">
                                    <p class="title">Go to<br> <strong>contact <i class="fa fa-arrow-circle-o-right"></i></strong></p>
                                </a>
                                </div>      
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    

