<div id="restaurant">
            <div class="row">
                <div class="col-md-6">
                    <a href="#about" class="dJAX_internal">
                        <div class="square square-big is-loaded">
                            <img src="../images/restaurant.jpeg" alt="">
                            <i class="fa fa-pencil-square-o "></i>
                            <div class="square-header">
                                <p class="title">Read our</p>
                                <p class="description">latest <strong>blog post</strong></p>
                            </div>
                            <div class="square-post">
                                <p class="title">Lorem ipsum dolor sit amet</p>
                                <p class="description">Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit ametadipiscing elit. Integer sapien odio, consectetur ac porta vitae, fringilla at justo. Nulla id nisl turpis. Quisque rutrum, sem a auctor feugiat, justo purus euismod ligula, quis mollis diam ligula in justo... <strong>read more</strong></p>
                            </div>
                        </div>
                    </a>
                    
                        <div class="col-md-6">
                            <a href="index.php?p=reservation" class="dJAX_internal">
                            <div class="square is-loaded">
                                <img src="../images/restaurant.jpeg" alt="">
                                <i class="fa fa-calendar-o"></i>
                                <div class="square-header">
                                    <p class="title">Reserve</p>
                                    <p class="description">your <strong>table</strong></p>
                                </div>
                                <div class="square-post">
                                    <p class="title">Go to <strong>reservation <i class="fa fa-arrow-circle-o-right"></i></strong></p>
                                </div>
                            </div>  
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="index.php?p=contact" class="dJAX_internal">
                            <div class="square is-loaded">
                                <img src="../images/restaurant.jpeg" alt="">
                                <i class="fa fa-globe "></i>
                                <div class="square-header">
                                    <p class="title">Contact</p>
                                    <p class="description">with <strong>us</strong></p>
                                </div>
                                <div class="square-post">
                                    <p class="title">Go to<br> <strong>contact <i class="fa fa-arrow-circle-o-right"></i></strong></p>
                                </div>
                            </div>
                            </a>
                        </div>
                  
                </div>
                <div class="col-md-6">
        
                        <div class="col-md-12">
                            <div class="square is-loaded">
                            <div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
                                <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>

  <div class="carousel-inner" id="slide">
    <div class="item square-item active"><!-- class of active since it's the first item -->
      <img src="../images/restaurant.jpeg" alt="">     
      <div class="square-header">
            <p class="title">Crock Pot Chicken</p>
            <p class="description">two for one until <strong>sunday</strong></p>
        </div>
    </div>
    <div class="item square-item" style="width: 560px;">
      <img src="../images/restaurant.jpeg" alt="">     
    
        <div class="square-header">
            <p class="title">Crock Pot Chicken</p>
            <p class="description">two for one until <strong>sunday</strong></p>
        </div>

    </div>
    <div class="item square-item" style="width: 560px;">
      <img src="../images/restaurant.jpeg" alt="">     

    <div class="square-header">
        <p class="title">Crock Pot Chicken</p>
        <p class="description">two for one until <strong>sunday</strong></p>
    </div>
   
    </div>
    <div class="item square-item" style="width: 560px;">
      <img src="../images/restaurant.jpeg" alt="">     

   <div class="square-header">
        <p class="title">Crock Pot Chicken</p>
        <p class="description">two for one until <strong>sunday</strong></p>
    </div>

    </div>
  </div><!-- /.carousel-inner -->
  <!--  Next and Previous controls below
        href values must reference the id for this carousel -->
    <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->

                                
                                <a href="index.php?p=menu" class="dJAX_internal">
                                    <div class="square-post">
                                        <p class="title">Go to <br><strong>menu <i class="fa fa-arrow-circle-o-right"></i></strong></p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    
                        <div class="col-md-6">
                            <div class="square is-loaded">
                                <img src="../images/restaurant.jpeg" alt="">             
                                <i class="fa fa-clock-o"></i>
                                <div class="square-header">
                                    <p class="title">Friday</p>
                                    <p class="description">we are <strong>open</strong></p>             
                                </div>                  
                                <div class="square-post">
                                    <ul class="days">
                                        <li><span>Mo.</span> <strong>closed</strong></li>
                                        <li><span>Tu.</span> <strong>1:00pm - 11:00pm</strong></li>
                                        <li><span>We.</span> <strong>1:00pm - 11:00pm</strong></li>
                                        <li><span>Th.</span> <strong>1:00pm - 11:00pm</strong></li>
                                        <li><span>Fr.</span> <strong>2:00pm - 1:00am</strong></li>
                                        <li><span>Sa.</span> <strong>2:00pm - 1:00am</strong></li>
                                        <li><span>Su.</span> <strong>1:00pm - 11:00pm</strong></li>
                                    </ul>
                                </div>                          
                            </div>
                        </div>
                        <div class="col-md-6">
                            <a href="index.php?p=team" class="dJAX_internal">
                                <div class="square is-loaded">
                                    <img src="../images/restaurant.jpeg" alt="">    
                                    <i class="fa fa-group "></i>
                                    <div class="square-header">
                                        <p class="title">Meet</p>
                                        <p class="description">our <strong>team</strong></p>                
                                    </div>          
                                    <div class="square-post">
                                        <p class="title">Go to<br> <strong>team <i class="fa fa-arrow-circle-o-right"></i></strong></p>
                                    </div>                          
                                </div>
                            </a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <div class="square is-loaded">
                                <img src="../images/restaurant.jpeg" alt="">                
                                <i class="fa fa-group "></i>
                                <div class="square-header">
                                    <p class="title">Lorem ipsum </p>
                                    <p class="description">dolor sit amet, <strong>consectetur</strong></p>             
                                </div>
                                <div class="square-post">
                                    <p class="title">Go to<br> <strong>other <i class="fa fa-arrow-circle-o-right"></i></strong></p>
                                </div>      
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    

