#header-region {
  -webkit-transition: all 0.2s ease-in-out;
  background: url("../images/slide8.jpg") no-repeat center;
}
.transition {
  -webkit-transform: scale(1.1);
}
#brand-style {
  text-align: center;
  margin-top: 0px;
}
#brand-style img {
  width: 450px;
  height: 200px;
  margin-bottom: 3%;
}
.menu-fixed {
  background: url("../images/slide8.jpg") no-repeat;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.menu-fixed ul {
  padding-left: 395px;
}
.container-full {
  margin: 0 auto;
  width: 100%;
}
.container-fluid {
  padding-left: 298px!important;
  padding-right: 15px;
  margin-top: -3%;
}
#main {
  z-index: 901;
  display: block;
}
#main li {
  background-color: #c71e1e;
  font-size: 20px;
  margin-left: 10px;
}
#main li a {
  color: #FFE4C4;
}
#main li.active a {
  color: #4d4d4d;
}
.navbar-default {
  background-color: transparent!important;
  border-color: transparent!important;
}
