@import url(http://fonts.googleapis.com/css?family=Original+Surfer);
/* Font Family - Original Surfer */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* header variables */
/* Menu variables */
/* footer var */
/* Common style for entired website*/
html,
body {
  background: url("../images/food.png") repeat;
  margin: 0;
  padding: 0;
  height: 100%;
}
#wrapper {
  min-height: 100%;
  position: relative;
}
#header-region {
  padding: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  background: url("../images/slide8.jpg") no-repeat center;
}
#main-region {
  padding: 10px;
  padding-bottom: 80px;
  /* Height of the footer element */
}
#footer-region {
  padding-top: 20px;
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 0;
  left: 0;
}
#brand-style {
  text-align: center;
  margin-top: 0px;
  display: block;
  margin-bottom: -5%;
}
#brand-style img {
  width: 450px;
  height: 200px;
}
#brand-style img ul {
  margin-left: 20%;
}
#mobile-brand-style {
  z-index: 99999;
  position: fixed;
  top: 0;
  display: none;
}
.container-fluid {
  padding-left: 298px!important;
  padding-right: 15px;
  margin-top: -3%;
}
.container-full {
  margin: 0 auto;
  width: 100%;
}
#main {
  z-index: 901;
  display: block;
}
#main li {
  background-color: #c71e1e;
  font-size: 20px;
  margin-left: 10px;
}
#main li a {
  color: #ffe4c4;
}
#main li.active a {
  color: #4d4d4d;
}
.navbar-default {
  background-color: transparent!important;
  border-color: transparent!important;
}
/* home less */
#restaurant a,
#restaurant a:hover,
#restaurant a:active {
  text-decoration: none;
}
#restaurant img {
  height: 100%;
  width: 100%;
  display: block;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
#restaurant .square {
  z-index: 1;
  background: #111;
  height: 200px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
}
#restaurant .square-big {
  height: 420px;
}
.is-loaded {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.square-big img {
  width: 630px;
  height: 320px;
}
#restaurant {
  padding-top: 50px;
}
#restaurant .square > i {
  color: #ffffff;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 30px;
  opacity: 0;
  transition: opacity 0.4s;
}
/* new classes for touchstart square*/
#restaurant .square:hover img,
#restaurant .square:focus img,
#restaurant .square:active img {
  /* opacity: 0.1; 
  -webkit-transform: scale(1.1,1.1); */
}
#restaurant .square-header .title {
  color: #ffffff;
  font-size: 32px;
  font-weight: 300;
  margin: 0;
}
#restaurant .square-header .description {
  font-size: 24px;
  color: #9E9E9E;
  font-weight: 200;
  margin: 0;
}
#restaurant .square-header .description strong {
  color: #ffffff;
}
#restaurant .square-post {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  padding: 15px 20px;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.5s;
  -webkit-transform: translate(0, 10px);
  -moz-transition: -moz-transform 0.3s, opacity 0.5s;
  -moz-transform: translate(0, 10px);
  -ms-transition: -ms-transform 0.3s, opacity 0.5s;
  -ms-transform: translate(0, 10px);
  transition: -webkit-transform 0.3s, opacity 0.5s;
  transform: translate(0, 10px);
}
#restaurant .square-post .title {
  color: #ffffff;
  font-size: 32px;
  font-weight: 300;
  margin: 0 0 5px 0;
  line-height: 1em;
}
#restaurant .square-post .description {
  font-size: 16px;
  color: #9E9E9E;
  font-weight: 200;
  margin: 0;
  line-height: 1.5em;
}
#restaurant .square-post .description strong {
  color: #ffffff;
}
#restaurant .square-post .days {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #9E9E9E;
  font-weight: 200;
}
#restaurant .square-post .days li {
  font-size: 18px;
}
#restaurant .square-post .days strong {
  color: #ffffff;
}
#restaurant .square-post .days span {
  display: inline-block;
  width: 28px;
  margin-right: 10px;
  text-align: right;
}
#restaurant .square-post {
  position: static;
}
#restaurant .slide-switch {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 10px;
  left: 0;
}
#restaurant .slide-switch li {
  display: inline-block;
}
#restaurant .slide-switch i {
  position: static;
  font-size: 16px;
}
#slide {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}
.square-item {
  height: 100% !important;
}
#restaurant #carousel-menu {
  height: 100%;
}
#restaurant #carousel-menu .item {
  height: 100% ;
}
#restaurant #carousel-menu .item img {
  height: 100% !important;
  width: 100% !important;
}
#restaurant #carousel-menu .square-item {
  height: 100% !important;
}
#restaurant .square-big {
  height: 420px;
}
#restaurant img {
  height: 100%;
  display: block;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
#restaurant .square-header {
  -webkit-transition-delay: 2s;
  -moz-transition-delay: 2s;
  transition-delay: 2s;
  -ms-transition-delay: 2s;
  position: absolute;
  bottom: 10px;
  left: 15px;
  line-height: 1em;
  font-size: 32px;
  background: rgba(0, 0, 0, 0.8);
  padding: 5px 10px;
  -webkit-transition: -webkit-transform 0.3s 0.2s, opacity 0.5s 0.2s;
  -moz-transition: -moz-transform 0.3s 0.2s, opacity 0.5s 0.2s;
  transition: transform 0.3s 0.2s, opacity 0.5s 0.2s;
  -ms-transition: -ms-transform 0.3s 0.2s, opacity 0.5s 0.2s;
}
#restaurant .square-header .title {
  color: #ffffff;
  font-size: 32px;
  font-weight: 300;
  margin: 0;
}
#restaurant .square-header .description {
  font-size: 24px;
  color: #9E9E9E;
  font-weight: 200;
  margin: 0;
}
#restaurant .square-header .description strong {
  color: #ffffff;
}
#restaurant .square-post {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  padding: 15px 20px;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.5s;
  -webkit-transform: translate(0, 10px);
  -moz-transition: -moz-transform 0.3s, opacity 0.5s;
  -moz-transform: translate(0, 10px);
  -ms-transition: -ms-transform 0.3s, opacity 0.5s;
  -ms-transform: translate(0, 10px);
  /* transition: -webkit-transform 0.3s, opacity 0.5s; */
  transform: translate(0, 10px);
}
#restaurant .square-post .title {
  color: #ffffff;
  font-size: 32px;
  font-weight: 300;
  margin: 0 0 5px 0;
  line-height: 1em;
}
#restaurant .square-post .description {
  font-size: 16px;
  color: #9E9E9E;
  font-weight: 200;
  margin: 0;
  line-height: 1.5em;
}
#restaurant .square-post .description strong {
  color: #ffffff;
}
.carousel-control {
  font-size: 88px;
  display: none!important;
}
.carousel-indicators {
  bottom: 3px;
  z-index: 9!important;
  height: 14px;
}
.carousel-indicators {
  left: 50%;
  top: 4px;
}
#restaurant .square-slider {
  z-index: 1;
  background: #111;
  height: 200px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
}
/* end of home */
/* about LESS */
.about-header,
.testimonial-header,
.contact-header,
.direction-header,
.hours-header {
  margin-top: 50px;
  background: #c71e1e;
  width: 100%;
  height: 80px;
}
.about-header h1,
.testimonial-header h1,
.contact-header h1,
.direction-header h1,
.hours-header h1 {
  margin-top: 45px;
  padding-top: 20px;
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  font-family: 'Original Surfer', cursive;
}
.animate {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.about-content,
.contact-content,
.direction-content,
.hours-content {
  background: #ffffff;
  border: 2px solid #c71e1e;
  border-top: none;
  padding-top: 36px;
  padding-bottom: 50px;
}
.about-content h1,
.contact-content h1,
.direction-content h1,
.hours-content h1 {
  font-size: 50px;
  text-align: center;
}
#testimonial-list {
  background: #ffffff;
  border: 2px solid #c71e1e;
  border-top: none;
}
#testimonial-list li {
  border-bottom: 2px solid #c71e1e;
}
#testimonial-list li:last-child {
  border-bottom: none;
}
.testimonial-item p:first-child {
  font-size: 16px;
  padding-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
}
.testimonial-item p:last-child {
  margin: 1% 0 2%;
  margin-left: 23%;
  color: #FF7F50;
}
/* end of about */
/* footer */
.footer-style {
  background: #c71e1e;
  width: 100%;
  padding-top: 31px;
}
.center-page-style {
  margin-bottom: 30px;
}
#copyright {
  border-top: 2px solid #ffffff;
  text-align: center;
  padding-top: 14px;
  margin-top: 20px;
  padding-bottom: 1px;
  color: #ffe4c4;
}
#copyright a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}
.subscribe {
  margin-left: 0px;
}
.subscribe h4 {
  color: #ffe4c4;
  font-family: 'Original Surfer', cursive;
  padding-bottom: 11px;
}
#social-network {
  margin-top: 23px;
}
#social-network ul li {
  display: inline;
}
#social-network ul li a {
  color: #ffe4c4;
}
#social-network ul li a:hover {
  color: #ffe4c4;
  cursor: pointer;
  -webkit-transition: color 2s ease-out;
  -moz-transition: color 2s ease-out;
  -o-transition: color 2s ease-out;
  transition: color 2s ease-out;
}
/* end of footer */
/* container fix */
.container {
  padding-right: 17px!important;
}
/* Menu Less*/
.menu-header-appetizer,
.menu-header-lunch,
.menu-header-dinner,
.menu-header-dessert {
  margin-top: 50px;
  margin-bottom: 10px;
  background: #c71e1e;
  width: 100%;
  height: 80px;
}
.menu-header-appetizer h1,
.menu-header-lunch h1,
.menu-header-dinner h1,
.menu-header-dessert h1 {
  padding-top: 20px;
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  font-family: 'Original Surfer', cursive;
}
.menu {
  display: block;
}
.menu .well {
  height: 100px;
}
.menu .well img {
  width: 100px;
  height: 80px;
}
.section-box h2 {
  font-size: "";
}
.section-box h2 a {
  text-decoration: none;
}
.reservation-header {
  margin-top: 50px;
  background: #c71e1e;
  width: 100%;
  height: 80px;
}
.reservation-header h1 {
  padding-top: 20px;
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  font-family: 'Original Surfer', cursive;
}
/* Small devices (Most popular smart phones) */
@media (max-width: 767px) {
  /* header variables */
  /* Menu variables */
  /* footer var */
  #header-region {
    background: none;
  }
  #main li {
    margin-left: 14px;
    background-color: none;
  }
  #main li a {
    text-align: center;
  }
  #brand-style {
    text-align: center;
    margin-top: "";
    margin-left: "";
    display: none;
  }
  #mobile-brand-style {
    display: block;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: transparent;
    position: fixed;
    width: 105%;
    z-index: 8;
    top: 0%;
    left: 1%;
    opacity: 0.9;
  }
  .navbar {
    margin-bottom: 0px;
  }
  .navbar-nav {
    margin: 49px -15px 0px -29px !important;
    margin-left: none;
  }
  .container-fluid {
    padding-left: 0px!important;
    padding-right: 0px;
    margin-top: 17%;
  }
  .navbar-header {
    background: #c71e1e;
    margin-right: 0px!important;
    margin-left: 0px!important;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: 99998;
    opacity: 0.9;
  }
  .subscribe {
    padding-bottom: 2%;
    margin-left: 0px;
  }
  .subscribe h4 {
    margin-left: 2px;
  }
  .subscribe button {
    margin-left: 70%;
  }
  #social-network ul {
    margin-left: 60%;
  }
  #to-top-width {
    width: 15%;
    float: left;
  }
  .to-top {
    height: 50px;
    width: 90px;
    color: #ffe4c4;
    opacity: 0.9;
    text-align: center;
    margin-top: 2%;
    padding-top: 1%;
    margin-left: "";
  }
  .to-top a {
    text-decoration: none;
    color: #ffe4c4;
  }
  /* home responsive */
  #restaurant {
    padding-top: 0px;
    margin-top: -15.3%;
  }
  #restaurant .col-md-6 {
    position: relative;
    min-height: 1px;
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
  #restaurant .row {
    margin-left: -25px !important;
    margin-right: -27px !important;
    padding-top: 10px;
  }
  #restaurant .col-md-12 {
    position: relative;
    min-height: 1px;
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
  #about {
    margin-top: -15%;
  }
  #about .row {
    margin-left: -25px !important;
    margin-right: -27px !important;
  }
  .about .col-md-8 {
    position: relative;
    min-height: 1px;
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
  .about-test .col-md-4 {
    position: relative;
    min-height: 1px;
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
  .testimonial-item p:last-child {
    margin-left: 65%;
  }
  .menu .well {
    height: 145px;
  }
  .section-box h2 {
    font-size: 12px;
  }
  .section-box h2 a {
    text-decoration: none;
  }
  #menu {
    margin-top: -15% !important;
  }
  #menu .row {
    margin-left: -25px !important;
    margin-right: -27px !important;
  }
  .menu .well img {
    width: 100px;
    height: 80px;
    margin-left: 24%;
  }
  #reservation {
    margin-top: -15% !important;
  }
  #reservation .row {
    margin-left: -25px !important;
    margin-right: -27px !important;
  }
  .form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 0px;
  }
  .form-group label {
    display: none;
  }
  #contact {
    margin-top: -15% !important;
  }
  #contact .row {
    margin-left: -25px !important;
    margin-right: -27px !important;
  }
  .form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 0px;
  }
  .form-group label {
    display: none;
  }
  .contact {
    display: block;
  }
  .contact .col-md-8 {
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
  .direction {
    display: block;
  }
  .direction .col-md-4 {
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
  .hours {
    display: block;
  }
  .hours .col-md-4 {
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
  .hours-content ul {
    font-size: 20px;
    margin-left: 4%;
  }
}
/* Medium-devices (Most popular tables, portrait) */
@media (min-width: 768px) and (max-width: 991px) {
  /* header variables */
  /* Menu variables */
  /* footer var */
  #header-region {
    background: none;
  }
  #main li {
    margin-left: 14px;
    background-color: none;
  }
  #main li a {
    text-align: center;
  }
  #brand-style {
    text-align: center;
    margin-top: "";
    margin-left: "";
    display: none;
  }
  #mobile-brand-style {
    display: block;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: transparent;
    position: fixed;
    width: 105%;
    z-index: 8;
    top: 0%;
    left: 2%;
    opacity: 0.9;
  }
  .navbar {
    margin-bottom: 0px;
  }
  .navbar-nav {
    margin: 49px -15px 0px -29px !important;
    margin-left: none;
  }
  .container-fluid {
    padding-left: 0px!important;
    padding-right: 0px;
    margin-top: 17%;
  }
  .navbar-header {
    background: #c71e1e;
    margin-right: 0px!important;
    margin-left: 0px!important;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: 99998;
    opacity: 0.9;
  }
  .subscribe {
    padding-bottom: 2%;
    margin-left: 0px;
  }
  .subscribe h4 {
    margin-left: 2px;
  }
  .subscribe button {
    margin-left: 0%;
  }
  #social-network ul {
    margin-left: 82%;
  }
  #to-top-width {
    width: 15%;
    float: left;
  }
  .to-top {
    height: 50px;
    width: 90px;
    color: #ffe4c4;
    opacity: 0.9;
    text-align: center;
    margin-top: 2%;
    padding-top: 1%;
    margin-left: "";
  }
  .to-top a {
    text-decoration: none;
    color: #ffe4c4;
  }
  /* home responsive */
  #restaurant {
    padding-top: 0px;
    margin-top: -16%;
  }
  #restaurant .col-md-6 {
    position: relative;
    min-height: 1px;
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
  #restaurant .row {
    margin-left: -25px !important;
    margin-right: -25px !important;
    padding-top: 10px;
  }
  #restaurant .col-md-12 {
    position: relative;
    min-height: 1px;
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
  #about {
    margin-top: -15%;
  }
  #about .row {
    margin-left: -25px !important;
    margin-right: -25px !important;
  }
  .about .col-md-8 {
    position: relative;
    min-height: 1px;
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
  .about-test .col-md-4 {
    position: relative;
    min-height: 1px;
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
  .testimonial-item p:last-child {
    margin-left: 65%;
  }
  .menu .well {
    height: 100px;
  }
  .section-box h2 {
    font-size: "";
  }
  .section-box h2 a {
    text-decoration: none;
  }
  #menu {
    margin-top: -15% !important;
  }
  #menu .row {
    margin-left: -25px !important;
    margin-right: -25px !important;
  }
  .menu .well img {
    width: 100px;
    height: 80px;
    margin-left: 24%;
  }
  #reservation {
    margin-top: -15% !important;
  }
  #reservation .row {
    margin-left: -25px !important;
    margin-right: -25px !important;
  }
  .form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 0px;
  }
  .form-group label {
    display: none;
  }
  #contact {
    margin-top: -15% !important;
  }
  #contact .row {
    margin-left: -25px !important;
    margin-right: -25px !important;
  }
  .form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 0px;
  }
  .form-group label {
    display: none;
  }
  .contact {
    display: block;
  }
  .contact .col-md-8 {
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
  .direction {
    display: block;
  }
  .direction .col-md-4 {
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
  .hours {
    display: block;
  }
  .hours .col-md-4 {
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
  .hours-content ul {
    font-size: 20px;
    margin-left: 4%;
  }
}
/* Extra-Medium devices (Most popular tables, Landscape) */
@media (min-width: 992px) and (max-width: 1199px) {
  .menu-fixed {
    background: url("../images/food.png") repeat;
    border-top: 1px solid #CFCACA;
    box-shadow: inset 0 1px #ffffff, 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: inset 0 1px #ffffff, 0 1px 3px rgba(34, 25, 25, 0.4);
    -webkit-box-shadow: inset 0 1px #ffffff, 0 1px 3px rgba(34, 25, 25, 0.4);
    position: fixed;
    width: 100%;
    top: -6%;
    left: 0;
  }
  .menu-fixed ul {
    margin-left: 30%!important;
    padding-bottom: 1%!important;
  }
  .row-self {
    margin-left: -15px;
    margin-right: -15px;
  }
  /* header variables */
  /* Menu variables */
  /* footer var */
  #header-region {
    background: block;
  }
  #main li {
    margin-left: 14px;
    background-color: block;
  }
  #main li a {
    text-align: center;
  }
  #brand-style {
    text-align: center;
    margin-top: 10%;
    margin-left: 5%;
    display: block;
  }
  #mobile-brand-style {
    display: none;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: transparent;
    position: absolute;
    width: 105%;
    z-index: 8;
    top: 35%;
    left: -1%;
    opacity: 1;
  }
  .navbar {
    margin-bottom: 0px;
  }
  .navbar-nav {
    margin: 49px -15px 0px -29px !important;
    margin-left: 20% !important;
  }
  .container-fluid {
    padding-left: 0px!important;
    padding-right: 0px;
    margin-top: 17%;
  }
  .navbar-header {
    background: #c71e1e;
    margin-right: 0px!important;
    margin-left: 0px!important;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: 99998;
    opacity: 1;
  }
  .subscribe {
    padding-bottom: 2%;
    margin-left: 0px;
  }
  .subscribe h4 {
    margin-left: 2px;
  }
  .subscribe button {
    margin-left: 0%;
  }
  #social-network ul {
    margin-left: 50%;
  }
  #to-top-width {
    width: 15%;
    float: left;
  }
  .to-top {
    height: 50px;
    width: 90px;
    color: #ffe4c4;
    opacity: 0.9;
    text-align: center;
    margin-top: 2%;
    padding-top: 1%;
    margin-left: "";
  }
  .to-top a {
    text-decoration: none;
    color: #ffe4c4;
  }
}
/* Large devices (Most popular desktop and some Large table in Landscape mode) */
@media (min-width: 1200px) {
  .menu-fixed {
    background: url("../images/food.png") repeat;
    border-top: 1px solid #CFCACA;
    box-shadow: inset 0 1px #ffffff, 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: inset 0 1px #ffffff, 0 1px 3px rgba(34, 25, 25, 0.4);
    -webkit-box-shadow: inset 0 1px #ffffff, 0 1px 3px rgba(34, 25, 25, 0.4);
    position: fixed;
    width: 100%;
    top: -6%;
    left: 0;
  }
  .menu-fixed ul {
    margin-left: 30%!important;
    padding-bottom: 1%!important;
  }
  .row-self {
    margin-left: -15px;
    margin-right: -15px;
  }
  /* header variables */
  /* Menu variables */
  /* footer var */
  #header-region {
    background: block;
  }
  #main li {
    margin-left: 14px;
    background-color: block;
  }
  #main li a {
    text-align: center;
  }
  #brand-style {
    text-align: center;
    margin-top: 10%;
    margin-left: 5%;
    display: block;
  }
  #mobile-brand-style {
    display: none;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: transparent;
    position: absolute;
    width: 105%;
    z-index: 8;
    top: 35%;
    left: -1%;
    opacity: 1;
  }
  .navbar {
    margin-bottom: 0px;
  }
  .navbar-nav {
    margin: 49px -15px 0px -29px !important;
    margin-left: 25% !important;
  }
  .container-fluid {
    padding-left: 0px!important;
    padding-right: 0px;
    margin-top: 17%;
  }
  .navbar-header {
    background: #c71e1e;
    margin-right: 0px!important;
    margin-left: 0px!important;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: 99998;
    opacity: 1;
  }
  .subscribe {
    padding-bottom: 2%;
    margin-left: 0px;
  }
  .subscribe h4 {
    margin-left: 2px;
  }
  .subscribe button {
    margin-left: 0%;
  }
  #social-network ul {
    margin-left: 82%;
  }
  #to-top-width {
    width: 15%;
    float: left;
  }
  .to-top {
    height: 50px;
    width: 90px;
    color: #ffe4c4;
    opacity: 0.9;
    text-align: center;
    margin-top: 2%;
    padding-top: 1%;
    margin-left: "";
  }
  .to-top a {
    text-decoration: none;
    color: #ffe4c4;
  }
}
