<div class="col-md-4">
<div class="hours-header">
<h1>Hours</h1>
</div>
<div class="hours-content">
<ul>
    <li><span>Mo.</span>  <strong>closed</strong></li>
    <li><span>Tu.</span>  <strong>1:00pm - 11:00pm</strong></li>
    <li><span>We.</span>  <strong>1:00pm - 11:00pm</strong></li>
    <li><span>Th.</span>  <strong>1:00pm - 11:00pm</strong></li>
    <li><span>Fr.</span>  <strong>2:00pm - 1:00am</strong></li>
    <li><span>Sa.</span>  <strong>2:00pm - 1:00am</strong></li>
    <li><span>Su.</span>  <strong>1:00pm - 11:00pm</strong></li>
</ul>
</div>