<div class="row">
		<div class="col-md-6">
			<div class="subscribe">
        <h4>Subscribe to our weekly Newsletter.</h4>
    <form action="" method="post" class="form-inline newsletter">
    <div class="form-group">
      <input type="email" value="" name="EMAIL" class="form-control required email"  placeholder="Email Address">
    </div>
    <button type="submit" name="subscribe" class="btn btn-primary">Subscribe</button>
  </form>
    </div> 
		</div>
		<div class="col-md-3" id="to-top-width">
		<div class="to-top">
			<a href="#">		
			<i class="fa fa-arrow-up fa-2x"></i>

			<h1>Back to Top</h1>
			</a>
		</div>
		</div>
		<div class="col-md-3" id="social-network">
			<ul>
				<li><a href="https://www.facebook.com/junior.santos" target="_blank"><i class="fa  fa-2x"></i></a></li>
				<li><a href="https://twitter.com/JrSantosHQ" target="_blank"><i class="fa  fa-2x"></i></a></li>
				<li><a href="https://github.com/edossantos" target="_blank"><i class="fa  fa-2x"></i></a></li>
				<li><a href="http://www.pinterest.com/jrsantos87/" target="_blank"><i class="fa  fa-2x"></i></a></li>
			</ul>
		</div>
	</div>

<div class="col-md-12" id="copyright">

	Copyright © 2014 <a href="http://www.edossantos.com" target="_blank">eDossantos.com</a>. All Rights Reserved. 
</div>
